body {
	/*background-image: url("http://eskipaper.com/images/stars-wallpaper-20.jpg");*/
	background: cover;
	background-color: blue;
}
.main-content {
	max-width: 1000px;
}

@media screen and (max-width: 700px) {
	.main-content,
	.sidebar {
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 430px) {}



h3 {
	position: absolute;
	top:120px;
	left: 250px;
	font-size: 125px;
	color: white;
	font-family: courier;

}


#sidebar {
	background: #151718;
	width: 200px;
	height: 100%;
	position: absolute;
	left: -200px;
	top: 0px;
	transition: left 0.3s linear;
}

#sidebar.visible {
	left: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
ul > li:hover {
	

}
ul li a {
	text-decoration: none;
	font-family: Helvetica;
	background: #1C1E1F;
	color: white;
	display: block;
	border-bottom: 1px solid purple;
	width: 180px;
	padding: 10px;
	list-style: none;
	
}
ul li a:hover {
	background: #3d3d5c;
	color: white;
	list-style: none;
}
.p1 {
	color: white;
	font-size: 13px;
	font-family: helvetica;
	position: relative;
	padding-top: 500px;
}
#sidebar-btn {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 20px;
	cursor: pointer;
	margin: 20px;
	position: absolute;
	top: 0px;
	right: -80px;
}
#sidebar-btn span {
	height: 2px;
	background-color: black;
	display: block;
	margin-bottom: 7px;
	background-color: white;
}
#sidebar-btn span:nth-child(2) {
	width: 75%
}
#sidebar-btn span:nth-child(3) {
	width: 50%;
}
.pictures {
	padding-top: 500px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
}
.twitter {
	position: absolute;
	bottom: 0px;
	left: 10px;
	height: 50px;
	width: 50px;
}
.instagram{
	position: absolute;
	left: 75px;
	bottom: 0px;
	height: 50px;
	width: 50px;
}
.facebook {
	position: absolute;
	right: 10px;
	bottom: 0px;
	height: 50px;
	width: 50px;
}
@media  (max-width:480px) {
	body {background-color: green;}
}

















