body {
	background-color: rgb(18,18,18); 
/* 	background-color: rgb(29, 36, 49); 	*/
background-image: url(public/img/giphy.gif);
background-size: cover;
}
div {
	background-color: blue;
	height: 89px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: rgb(24, 24, 24);
}

a {
	
	font-family: avenir;
	font-weight: 500px;
	color: rgb(59, 199, 236);
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px;
	letter-spacing: 1px;
	line-height: 15px;
	float: right;
	font-size: 11.5px;
	font-weight: normal;
	opacity: 1;

}
a:hover {
	transition: 0.3s;
	background-color: rgb(40, 40,40);
}
#logo {
	color: rgb(78, 78, 78);
	padding-left: 15px;
	font-family: avenir;
	font-weight: lighter;
}















