 body {
	background-image: linear-gradient(to right bottom, rgb(136, 90, 255) 0%, rgb(23, 73, 229) 100%);
/* 	background-color: rgb(29, 36, 49); 	*/

background-size: cover;
background-color: rgb(103,85,248);
}
#navDiv {
	background-color: rgb(56,112,221);
	height: 64px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color:;
	overflow-x: hidden;
	margin: 0;
	line-height: 1px;


}

#nav > a {
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 22px;
	padding-top: 15px;
	letter-spacing: 1px;
	float: right;
	font-size: 14px;
	opacity: 0.5;
	font-weight: bold;
	height: 100%;


}
#nav > a:hover {
	/*background-color: rgb(40, 40,40);*/
	/*transition: border-bottom-color .1s ease-out;*/
	color: white;
	opacity: 1.0;
	transition: 0.2s;


}
.logo {
	color: white;
	padding-left: 15px;
	padding-top: 15px;
	font-family: avenir;
	font-weight: lighter;
	opacity: 0.5;
    font-size: 35px;
}
#logoA {
	text-decoration: none;
}
#profileImg {
	position: absolute;
	padding: 200px;
	height: 300px;
	width: 300px;
}
#aboutDiv {
	position: absolute;
	top: 130px;
	right: 350px;
	font-family: avenir;
	font-weight: 500px;
	color: rgb(59, 199, 236);
	padding: 20px;
	letter-spacing: 2px;
	line-height: 15px;
	float: left;
	font-size: 30px;
	font-weight: bold;
}

.flyText {
	list-style: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: white;
}
.flyText li {
	display: inline-block;
	margin-right: 50px;
	font-family: Avenir, Arial;
	font-weight: bold;
	font-size: 50px;
	opacity: 1;
	transition: all 2.5s ease;
}
.flyText li:last-child {
	margin-right: 0;
}

.flyText.hidden li {
	opacity: 0;

}
.flyText.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.flyText.hidden  li:nth-child(2) { transform: translateX(-20px) translateY(100px); }
.flyText.hidden  li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.flyText.hidden  li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.flyText.hidden  li:nth-child(5) { transform: translateX(-300px) translateY(-200px); }
.flyText.hidden  li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.flyText.hidden  li:nth-child(7) { transform: translateX(30px) translateY(200px); }


#flyTextDiv {
	background-size: cover;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top:0px;
	height: 670px;
	background-image: url();
	back
}
#about {
	background-color: ;
	position: relative;
	top: 660px;
	padding: 4.25rem ;
	height: 550px;
	text-align: center;
}
#about > h1 {
	font-family: avenir;
	font-weight: 500px;
	color: white;
	text-align: center;
	font-weight: 500;

}
#about > img {
	border-radius: 50%;
    background-size: 175px auto;
}
#aboutPDiv {
	text-align: center;

}
#aboutPDiv > p {
	color: white;
	font-size: 20px;
	font-family: helvetica;
	font-weight: lighter;

}
#header {
	font-family: avenir;
	font-weight: 500px;
	color: white;
	text-align: center;
	font-weight: 500;

}
#books {
	background-color: ;
	position: relative;
	top: 500px;
	padding: 4.25rem ;
	height: 700px;
	text-align: center;
}
#richDad, #nonna, #meditations, #recall, #workWeek, #dale {
	padding: 15px;
}

#organizations > a:hover {

	color: white;
}
#organizations > h1 {
	font-family: avenir;
	font-weight: 500px;
	color: white;
	text-align: center;
	font-weight: 500;

}
#organizations {
	padding: 3.25rem ;
	height: 570px;
	text-align: center;
	position: absolute;
	right: 0;
	left: 0px;
}

#hackClub, #nano {
	display: inline-block;
	padding: 30px;
}
#organizationsH2 {
	color: white;
	font-family: avenir;
}
#organizationsH4 {
	color: white;
	font-family: avenir;
	font-weight: lighter;
}
#organizationsh3 {
	color: rgb(84, 194, 249);
	text-decoration: none;
	font-size: 20px;
	font-family: monospace;
}
#organizationsP {
	color: white;
	font-size: 20px;
	font-family: helvetica;
	font-weight: lighter;
}

#projects {

	padding: 4.25rem ;
	height: 1000px;
	text-align: center;
	position: relative;
	top: 1050px
}
#projects > h1 {
	padding-top: 30px;
	font-family: avenir;
	font-weight: 500px;
	color: white;
	text-align: center;
	font-weight: 500;
}
#BeTheMindsetApp, #FoodPin {
	display: inline-block;
	padding: 30px;
}
#btmWeb, #loveCalc {
	display: inline-block;
	padding: 30px;
}
#projectsH2 {
	color: white;
	font-family: avenir;
}
#projectsP {
	color: white;
	font-size: 20px;
	font-family: helvetica;
	font-weight: lighter;
}
#hackathons {
	height: 300px;

	position: relative;
	top: 1025px;
}
#hackathons {
	text-align: center;
	padding-top: 100px;
}
#hackathonsH1 {
	font-family: avenir;
	font-weight: 500px;
	color: white;
	text-align: center;
	font-weight: 500;
}
#hackathonsP {
	display: inline-block;
	color: white;
	font-size: 30px;
	font-family: helvetica;
	font-weight: lighter;
	padding: 20px;

}
#contact {
	height: 300px;
	color: white;
	position: relative;
	top: 900px;

}
#contact > h1 {
	text-align: center;
	padding-top: 50px;
	font-family: avenir;
	font-weight: 500px;
	color: white;
	font-weight: 500;
}
#contact {
	text-align: center;
}
#contactImgs {
	padding-left: 10px;
	padding-right: 10px;

}
/*-------------MEDIA QUERIES------------->*/
@media only screen and (max-width: 1250px) {
    body {
        background-color: lightblue;

    }
    .flyText li {
    	font-size: 40px;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        background-color: green;

    }
    .flyText li {
    	font-size: 35px;
    }
}
@media only screen and (max-width: 1100px) {
    body {
        background-color: yellow;

    }
    .flyText li {
    	font-size: 25px;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: red;

    }
    .flyText li {
    	font-size: 15px;
    }
}
@media only screen and (max-width: 900px) {
    body {
        background-color: orange;

    }
    .flyText li {
    	font-size: 10px;
    }
}
@media only screen and (max-width: 800px) {
    body {
        background-color: red;

    }
    .flyText li {
    	display: none;
    }
}
