body {
	font-family: sans-serif, cursive;
	font-size: 16px;
	/*background: #eee;*/

background-image: linear-gradient(to right bottom, rgb(136, 90, 255) 0%, rgb(23, 73, 229) 100%);


}

footer {
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	background: #222;
	color: #ccc;
	padding: 15px;
	text-align: center;
}

footer a {
	color: #ccc;
}

footer a:hover, footer a:focus {
	color: pink;
	text-decoration: none;
}

p {
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

p.lead {
	font-size: 24px;
	font-weight: 500;
}

.img-thumbnail {
	border: 3px solid #111;
}

hr.secDiv {
	border: 1px solid white;
	box-shadow: 0 1px 0 #999;
	margin: 30px 0;
}

nav a.navbar-brand {
	font-size: 24px;
}

nav .navbar-nav > li > a {
	font-size: 20px;
}

header.top h1 {
	font-size: 50px;
}

header.top h3 {
	line-height: 0;
	margin-bottom: 30px;
}

.social {
	font-size: 40px;
}

.social a {
	color: rgb(189,176, 194);
	text-decoration: none;
	transition: all 0.3s;
}

.social a:hover,
.social a:focus {
	color: white;
	text-shadow: 0px 0px 3px #111;
}

#about h2,
#portfolio h2,
#contact h2 {
	font-size: 40px;
	margin: 0 0 15px 0;
}

.panel {
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

#contact {
	min-height: 250px;
}
