/*------------------------------------------SIDEBAR STARTS HERE----------------------------------------*/
			/*sidebar BTN*/
			#sidebar-btn {
				display: inline-block;
				vertical-align: middle;
				width: 40px;
				height: 20px;
				cursor: pointer;
				margin: 20px;
				position: absolute;
				top: 0px;
				right: -80px;
			}
			#sidebar-btn span {
				height: 2px;
				background-color: white;
				display: block;
				margin-bottom: 7px;
			}
			#sidebar-btn span:nth-child(2) {
				width: 75%
			}
			#sidebar-btn span:nth-child(3) {
				width: 50%;
			}
			/*sidebar BTN ends here*/

			/*INSIDE SIDEBAR*/
			#sidebar {
				background: #151718;
				width: 200px;
				height: 100%;
				position: absolute;
				left: -200px;
				top: 0px;
				transition: left 0.2s linear;
			}

			#sidebar.visible {
				left: 0px;
			}

			ul {
				margin: 0px;
				padding: 0px;
				text-align: center;
			}
			ul li a {
				text-decoration: none;
				font-family: Helvetica;
				background: #1C1E1F;
				color: white;
				display: block;
				border-bottom: 1px solid #3b5998;
				width: 180px;
				padding: 10px;
				list-style: none;

			}
			ul li a:hover {
				background: #3d3d5c;
				color: white;
				list-style: none;
			}

			.pictures {
				max-height: 100%;
				padding-left: 10px;
				padding-right: 10px;
				margin: 10px;
			}
			.twitter {
				position: absolute;
				bottom: 0px;
				left: 10px;
				height: 50px;
				width: 50px;
			}
			.instagram{
				position: absolute;
				left: 75px;
				bottom: 0px;
				height: 50px;
				width: 50px;
			}
			.facebook {
				position: absolute;
				right: 10px;
				bottom: 0px;
				height: 50px;
				width: 50px;
			}
			/*INSIDE SIDEBAR ENDS HERE*/
/*------------------------------------------SIDEBAR ENDS HERE----------------------------------------*/





			.container {
				width: 960px;
				margin: 0;
				height: 100%;
			}






			body {
				background-image: url("img/purpleSpace.jpg");
				background: cover; 
				background-color:#395693;
				background-repeat: no-repeat;
				-webkit-background-size: cover;
				-moz-background-size:cover;
				o-background-sizr: cover;
			}


			.meimg:hover, .meimg:focus, .meimg:active {
				-webkit-transform: scale(2.0); 
				transition:  1s;
			}

			.me {
				
				text-align: center;
			}
			.meimg {

				padding-top: 50px;
				width:  100px;
				height: 100px;
				
			}

			h3 {
				text-align:  center;
				font-size: 125px;
				color: white;
				font-family: 'Quantico', Helvetica;
				
				
			}
			.fixedWidth {
				width: 200px;
			}
			@media only screen and (max-width: 768px) {
    /*for mobile devices*/
	h3 {
		font-size:  70px;
		width:  100%;
	}
	
}












